<div class="container">
  <div class="has-text-centered title" style="margin-top: 2%">
    Typing Practice
  </div>
  <div class="has-text-centered" style="margin-top: 5%; font-size: 2rem">
    <span
      [ngClass]="compare(letter, userInput[i])"
      *ngFor="let letter of randomText.split(''); let i = index"
      >{{ letter }}</span
    >
  </div>
  <div class="field items-centered">
    <textarea
      style="font-size: 2rem; margin-top: 3%; background-color: azure"
      class="textarea"
      rows="4"
      (input)="onInputChange($event.target.value)"
    ></textarea>
  </div>
  <div class="has-text-centered" *ngIf="userInput === randomText">
    <h1 class="title">Success!</h1>
  </div>
</div>
